body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1 1 45%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #044d0ad0 ;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #061807d0;
}

.resultado {
  margin-top: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  white-space: pre-line;
  font-family: monospace;
}
